allow surfaceflinger knv_device:chr_file rw_file_perms;
allow surfaceflinger gpu_device:chr_file rw_file_perms;

allow surfaceflinger sysfs_devices_system_cpu:file rw_file_perms;
allow surfaceflinger sysfs_devices_nvavp:file rw_file_perms;

allow surfaceflinger sysfs_modules_tegrafuse:file r_file_perms;
